{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "ie >= 11"
          ]
        },
        "corejs": 3,
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
